*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Poppins,sans-serif;
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    position:sticky;
    top:0;
    background:#111827;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.logo{
    font-weight:700;
    color:#38bdf8;
}

section{
    padding:80px 10%;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

.hero h1{
    font-size:60px;
}

.hero span{
    color:#38bdf8;
}

.hero p{
    margin:20px 0;
    color:#cbd5e1;
}

.btn{
    display:inline-block;
    padding:12px 30px;
    background:#38bdf8;
    color:#000;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
}

h2{
    margin-bottom:25px;
    color:#38bdf8;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    text-align:center;
    border-radius:10px;
}

.project{
    background:#1e293b;
    padding:25px;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
}

a {
    color:#38bdf8;
    text-decoration:none;
}

@media(max-width:768px){

nav{
    flex-direction:column;
    gap:15px;
}

.hero h1{
    font-size:40px;
}

nav ul{
    flex-wrap:wrap;
    justify-content:center;
}

}